<div class="logoFavMov">
  <img src="assets/img/NameThatMovie_logov8.png">
</div>

<header>
  <nav>
    <a href="" id="menu-icon"><img src="assets/img/mobile-menu-icon-white.png"></a>
    <ul>
      <li><a href="/#/game">Game</a></li>
      <li><a href="/#/favMovies">Favorite Movies</a></li>
      <li><a href="/#/addQuest">Add Questions</a></li>
      <li ng-click="authObj.$unauth()"><a href="/#/">Logout</a></li>
    </ul>
  </nav>
</header>

<div class="recommend">
  <h1>Your Recommended Movies</h1>
</div>

<pre>
  {{recommendations}}
</pre>

<div class="movieList">
    <ul class="">
        <li ng-repeat="recommendation in recommendations">
            {{ recommendation }}
            <a href="#" ng-click="removeMovie(recommendation)"><img src="assets/img/delete-white.png" class="delete"> </a>
        </li>
    </ul>
</div>
