body {
  background-color: #1976d2;
}
h1 {
  font-family: 'DK Lemon Yellow Sun';
  text-align: center;
}

/************************* Home Page **************************/
.login {
  margin-bottom: 100px;
}
.theInputs {
  /*width: 50%;*/
}
.random {
  margin-bottom: 30px;
}

/************************* Login Page **************************/
.fbBtn {
  background-color: #4267b2;
  color: #fff;
  border-color: #4267b2;
}
.fbBtn:hover {
  background-color: #405d98;
  border-color: #4267b2;
}

/************************* Login Page **************************/
.signUp {
  margin-bottom: 20px;
}

/************************* Favorite Movies Page **************************/
nav img {
  width: 40px;
  height: 40px;
  display: none;
}

/************************* Responsive **************************/
@media (max-width: 400px) {
  /***** menu icon *****/

  header {
		position: absolute;
    margin-left: 300px;
    margin-top: -50px;
	}
  nav img {
    display: inline-block;
  }
	nav ul, nav:active ul {
		display: none;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
    margin-left: -70px;
	}
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
    list-style-type: none;
	}
	nav:hover ul {
		display: block;
	}

  /***** home page *****/
  .logo img {
    width: 55%;
    margin-left: 85px;
    margin-top: 30px;
  }
  .theInputs {
    margin: auto;
    margin-top: 100px;
    width: 60%;
  }

  /***** login page *****/
  .logForm {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
  }
  .login {
    width: 100%;
  }
  .login button.loginBtn {
    margin-bottom: 20px
  }

  /***** signup page *****/
  .wrapper form {
    width: 70%;
    margin: auto;
    margin-top: 100px;
  }


  /***** game page *****/
  .left-div {
    width: 70%;
    margin: auto;
  }

  /***** profile page *****/
  .logoProf img {
    width: 40%;
    margin-left: 120px;
    margin-top: 30px;
  }

  /***** favorite movies page *****/

  .logoFavMov img {
    width: 30%;
  }
  .favMov {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
  .addMovie {
    margin-top: 30px;
  }
  .addNew {
    background-color: rgb(255, 217, 102);
    border-color: rgb(255, 217, 102);
    border-radius: 5px;
    width: 40%;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 13px;
  }
  .update {
    background-color: rgb(255, 217, 102);
    border-color: rgb(255, 217, 102);
    border-radius: 5px;
    width: 40%;
    height: 30px;
    margin-top: -49px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    float: right;
  }
  .movieList ul li {
    list-style-type: none;
    font-size: 15px;
  }
  .edit, .delete{
    width: 30px;
    height: auto;
  }
  .edit {
    margin-left: 250px;
    margin-top: -40px;
  }
  .delete {
    margin-left: 290px;
    margin-top: -80px;
  }
  .movieList li {
    margin-right: 40px;
  }

} /* end media query 400px max */
