body {
  background-color: #1976d2;
  color: #fff;
}


/************************* Home Page **************************/
.login {
  margin-bottom: 100px;
}
.random {
  margin-bottom: 30px;
}

/************************* Login Page **************************/
.fbBtn {
  background-color: #4267b2;
  color: #fff;
  border-color: #4267b2;
}
.fbBtn:hover {
  background-color: #405d98;
  border-color: #4267b2;
}

/************************* Login Page **************************/
.signUp {
  margin-bottom: 20px;
}

/************************* Favorite Movies Page **************************/
nav img {
  width: 40px;
  height: 40px;
  display: none;
}

/************************* Responsive **************************/
@media only screen and (max-width: 400px) {
  /***** menu icon *****/
  h1 {
    font-family: 'DK Lemon Yellow Sun';
    text-align: center;
  }
  header {
		position: absolute;
    margin-left: 300px;
    margin-top: -50px;
	}
  nav img {
    display: inline-block;
  }
	nav ul, nav:active ul {
		display: none;
		padding: 20px;
		background: #1976d2;
		border: 5px solid #bbdefb;
    border-radius: 5px;
    margin-left: -70px;
	}
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
    list-style-type: none;
    color: #fff;
	}
	nav:hover ul {
		display: block;
	}
  nav li a:hover {
    color: #bbdefb;
  }
  nav li a {
    color: #fff;
  }

  /***** home page *****/
  .wrapper {
    margin-top: 100px;
  }
  .logo {
    width: 55%;
    margin-left: 85px;
    margin-top: 30px;
  }
  .theInputs {
    margin: auto;
    margin-top: 50px;
    width: 60%;
  }
  .theInputs h1 {
    margin-bottom: 30px;
  }
  .random {
    /*color: #1976d2;*/
    color: #212121;
    background-color: rgb(187, 222, 251);
    border-color: rgb(187, 222, 251);
    border-radius: 5px;
  }

  /***** login page *****/
  .logForm {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
  }
  .login {
    width: 100%;
  }
  .login button.loginBtn {
    margin-bottom: 20px;
    color: #1976d2;
    background-color: rgb(187, 222, 251);
    border-color: rgb(187, 222, 251);
    border-radius: 5px;
  }

  /***** signup page *****/
  .container {
    margin-top: 50px;
  }
  .container form {
    width: 70%;
    margin: auto;
    margin-top: 40px;
  }
  .signup button.signUp {
    color: #1976d2;
    background-color: rgb(187, 222, 251);
    border-color: rgb(187, 222, 251);
    border-radius: 5px;
  }


  /***** game page *****/
  
  .game-div {
    width: 70%;
    margin: auto;
    margin-top: 50px;
  }
  .game-div h4 {
    float: left;
    margin-top: -60px;
    margin-left: -20px;
  }
  .fav img{
    float: right;
    margin-right: -40px;
    width: 30px;
    height: auto;
  }
  .fav img:hover {
    color: red;
  }
  .questNum {
    margin-bottom: 30px;
  }
  .question {
    color: #212121;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .questAnswers {
    margin-bottom: 20px;
  }
  .questAnswers input {
    color: #727272;
    background-color: rgb(187, 222, 251);
    border-color: rgb(187, 222, 251);
    margin-bottom: 20px;
  }
  .correct {
    background-color: green;
  }
  .wrong {
    background-color: red;
  }
  .message {
    text-align: center;
  }
  .correctMessage {
    font-size: 30px;
  }
  .wrongMessage {
    font-size: 20px;
  }
  .endOfGame {
    font-size: 30px;
    text-align: center;
  }


  /***** profile page *****/
  .logoProf img {
    width: 40%;
    margin-left: 120px;
  }
  .logout {
    color: #212121;
    background-color: #f8bbd0;
    border-color: #f8bbd0;
  }

  /***** recommendation movies page *****/
  .recommend h1 {
    margin-top: 40px;
  }

  /***** favorite movies page *****/
  .favmovies h1 {
    margin-top: 40px;
  }
  .logoFavMov img {
    width: 30%;
    margin-top: 30px;
    margin-left: 20px;
  }
  .favMov {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
  .addMovie {
    margin-top: 30px;
  }
  .addNew {
    color: #212121;
    background-color: rgb(187, 222, 251);
    border-color: rgb(187, 222, 251);
    border-radius: 5px;
    width: 40%;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .update {
    color: #212121;
    background-color: rgb(187, 222, 251);
    border-color: rgb(187, 222, 251);
    border-radius: 5px;
    width: 40%;
    height: 40px;
    margin-top: -60px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: right;
  }
  .update:hover, .addNew:hover {
    background-color: #1976d2;
    color: #fff;
  }
  .movieList {
    overflow: auto;
    width: 400px;
    height: 240px;
  }
  .movieList ul li {
    list-style-type: none;
    font-size: 18px;
    color: #ffffff;
  }
  .edit, .delete{
    width: 30px;
    height: auto;
  }
  .edit {
    margin-left: 250px;
    margin-top: -40px;

  }
  .delete {
    margin-left: 290px;
    margin-top: -90px;
  }
  .movieList li {
    margin-right: 40px;
    height: 40px;
  }

  /***** add questions page *****/
  .addQuestions {
    width: 70%;
    margin: auto;
  }
  .addQuestions input {
    margin-bottom: 20px;
  }
  .addNewQuest {
    color: #1976d2;
    background-color: rgb(187, 222, 251);
    border-color: rgb(187, 222, 251);
    border-radius: 5px;
  }

} /* end media query 400px max */
