<div class="logoFavMov">
  <img src="assets/img/NameThatMovie_logov7.png">
</div>

<header>
  <nav>
    <a href="#" id="menu-icon"><img src="assets/img/mobile-menu-icon-white.png"></a>
    <ul>
      <li><a href="/#/game">Game</a></li>
      <li><a href="/#/recMovies" class="current">Recommendations</a></li>
      <li><a href="/#/favMovies">Favorite Movies</a></li>
      <li><a href="/#/addQuest">Add Questions</a></li>
      <li ng-click="authObj.$unauth()"><a href="/#/">Logout</a></li>
    </ul>
  </nav>
</header>

<div class="addQuestions">
  <h1>Add A New Question To The Game</h1>
  <form class="form-group" ng-submit="addNewQuests()">
    <input type="text" ng-model="newQuest.quote" name="new" class="form-control" placeholder="the quote" required/>
    <input type="text" ng-model="newQuest.optA" name="new" class="form-control" placeholder="option a" required/>
    <input type="text" ng-model="newQuest.optB" name="new" class="form-control" placeholder="option b" required/>
    <input type="text" ng-model="newQuest.optC" name="new" class="form-control" placeholder="option c" required/>
    <input type="text" ng-model="newQuest.optD" name="new" class="form-control" placeholder="option d" required/>
    <input type="text" ng-model="newQuest.answer" name="new" class="form-control" placeholder="correct answer" required/>
      <button class="form-control addNewQuest" type="submit" name="add">Add New Question</button>
  </form>
</div>
