<div class="logoFavMov">
  <img src="assets/img/NameThatMovie_logov7.png">
</div>

<header>
  <nav>
    <a href="" id="menu-icon"><img src="assets/img/mobile-menu-icon-white.png"></a>
    <ul>
      <li><a href="/#/game">Game</a></li>
      <li><a href="/#/recMovies">Recommendations</a></li>
      <li><a href="/#/favMovies" class="current">Favorite Movies</a></li>
      <li><a href="/#/addQuest">Add Questions</a></li>
      <li ng-click="authObj.$unauth()"><a href="/#/">Logout</a></li>
    </ul>
  </nav>
</header>

<div class="favmovies">
  <h1>Your Favorite Movies</h1>
  <form class="form-group addMovie" ng-submit="addMovie()">
    <input type="text" ng-model="newMovie.name" name="new" class="form-control favMov" placeholder="enter a movie"/>
      <button class="form-control addNew" type="submit" name="add">Add New Movie</button>
  </form>

  <form class="form-group" ng-submit="updateMovie()">
    <button class="form-control update" type="submit" name="submit">Update Movie</button>
  </form>
</div>

<div class="movieList">
    <ul class="">
        <li ng-repeat="movie in movies">
            {{ movie.name }}
            <a href="" ng-click="editMovie(movie)"> <img src="assets/img/Edit_font_awesome.svg-lightblue.png" class="edit"> </a>
            <a href="" ng-click="removeMovie(movie)"> <img src="assets/img/delete-lightblue.png" class="delete"> </a>
        </li>
    </ul>
</div>
