<div class="logoFavMov">
  <img src="assets/img/NameThatMovie_logov8.png">
</div>

<header>
  <nav>
    <a href="" id="menu-icon"><img src="assets/img/mobile-menu-icon-white.png"></a>
    <ul>
      <li><a href="/#/signup">Sign Up</a></li>
      <li><a href="/#/login">Login</a></li>
    </ul>
  </nav>
</header>

<div class="theInputs">
  <h1>Game Categories</h1>
  <input ng-click="action()" type="button" class="form-control btn btn-primary random" value="Action">
  <input ng-click="kids()" type="button" class="form-control btn btn-primary random" value="Kids">
  <input ng-click="comedy()" type="button" class="form-control btn btn-primary random" value="Comedy">
  <input ng-click="adultCom()" type="button" class="form-control btn btn-primary random" value="Adult Comedy">
</div>
