<div class="logoFavMov">
  <img src="assets/img/NameThatMovie_logov7.png">
</div>

<header>
  <nav>
    <a href="#" id="menu-icon"><img src="assets/img/mobile-menu-icon-lightblue.png"></a>
    <ul>
      <li><a href="/#/signup">Sign Up</a></li>
      <li><a href="/#/login">Login</a></li>
    </ul>
  </nav>
</header>

<div class="game-div">
  <h1>Add New Movie</h1>
  <p>Question 1</p></br>

  <div class="questOne" ng-repeat="question in questions">
    {{ question.Question0.Question }}
  </div>

  <div class="questTwo" ng-repeat="question in questions">
    {{ question.Answer0.A }}<br>
    {{ question.Answer0.B }}</br>
    {{ question.Answer0.C }}</br>
    {{ question.Answer0.D }}
  </div>

</div>
