<div class="logoFavMov">
  <img src="assets/img/NameThatMovie_logov7.png">
</div>

<header>
  <nav>
    <a href="" id="menu-icon"><img src="assets/img/mobile-menu-icon-lightblue.png"></a>
    <ul>
      <li><a href="/#/signup">Sign Up</a></li>
      <li><a href="/#/login">Login</a></li>
    </ul>
  </nav>
</header>

<div class="theInputs">
  <input ng-click="action()" type="button" class="form-control btn btn-primary random" value="Action">
  <input ng-click="recPage()" type="button" class="form-control btn btn-primary random" value="Recommendations">
  <input ng-click="favMoviesPage()" type="button" class="form-control btn btn-primary random" value="Favorite Movies">
  <input ng-click="addQuestPage()" type="button" class="form-control btn btn-primary random" value="Add Questions To The Game">
  <a href="/#/"><button class="form-control btn btn-primary" name="logout" ng-click="authObj.$unauth()">Logout</button></a>
</div>
