<div class="logoFavMov">
  <img src="assets/img/NameThatMovie_logov7.png">
</div>

<header>
  <nav>
    <a href="" id="menu-icon"><img src="assets/img/mobile-menu-icon-lightblue.png"></a>
    <ul>
      <li><a href="/#/game">Game</a></li>
      <li><a href="/#/recMovies" class="current">Recommendations</a></li>
      <li><a href="/#/favMovies">Favorite Movies</a></li>
      <li><a href="/#/addQuest">Add Questions</a></li>
      <li ng-click="authObj.$unauth()"><a href="/#/">Logout</a></li>
    </ul>
  </nav>
</header>

<div class="recommend">
  <h1>Your Recommended Movies</h1>
</div>

<div class="movieList">
    <ul class="">
        <li ng-repeat="movie in movies">
            {{ movie.name }}
            <a href="" ng-click="removeMovie(movie)"> <img src="assets/img/delete-lightblue.png" class="delete"> </a>
        </li>
    </ul>
</div>
