<div class="logoFavMov">
  <img src="assets/img/NameThatMovie_logov8.png">
</div>

<header>
  <nav>
    <a href="" id="menu-icon"><img src="assets/img/mobile-menu-icon-white.png"></a>
    <ul>
      <li><a href="/#/signup">Sign Up</a></li>
      <li><a href="/#/login">Login</a></li>
    </ul>
    <ul ng-click="game()" ng-show="showMenu">
      <li><a href="/#/recMovies" class="current">Recommendations</a></li>
      <li><a href="/#/favMovies">Favorite Movies</a></li>
      <li><a href="/#/addQuest">Add Questions</a></li>
      <li ng-click="authObj.$unauth()"><a href="/#/">Logout</a></li>
    </ul>
  </nav>
</header>

<div class="theInputs">
  <h1>Game Categories</h1>
  <a href="/#/categories/Action" class="form-control btn btn-primary random">Action</a>
  <a href="/#/categories/Kids" type="button" class="form-control btn btn-primary random">Kids</a>
  <a href="/#/categories/Comedy" type="button" class="form-control btn btn-primary random">Comedy</a>
  <a href="/#/categories/Adult" type="button" class="form-control btn btn-primary random">Adult Comedy</a>
</div>
