<div class="logoFavMov">
  <img src="assets/img/NameThatMovie_logov8.png">
</div>

<header>
  <nav>
    <a href="" id="menu-icon"><img src="assets/img/mobile-menu-icon-white.png"></a>
    <ul>
      <li><a href="/#/signup">Sign Up</a></li>
      <li><a href="/#/login">Login</a></li>
    </ul>
  </nav>
</header>

<div class="game-div">
  <h1 class="questNum">{{questions[4].$value}}</h1>
  <h4 ng-hide="endgameScore">Score: {{score}}</h4>

  <div class="question">
    {{questions[5].$value}}
  </div>

  <div name="answers" class="questAnswers" ng-repeat="answer in questions  | limitTo : 4 ">
    <div class="fav" ng-click="savFav()" ng-show="isShowing($index)">
      <a href="" type="button"><img src="assets/img/heart.png"></a>
    </div>
    <button ng-click="checkAnswer(answer,$index)" class="form-control btn" ng-class="{correct: answer.$id === colorRightOne, wrong: answer.$id === colorWrongOne}"> {{answer.Answer}} </button>
  </div>

  <div class="message" ng-class="{correctMessage: colorRightOne, wrongMessage: colorWrongOne}">
    <strong>{{message}}</strong>
  </div>

  <div class="endOfGame">
    <strong>{{endGame}}</strong>
  </div>

</div>
