<div class="logoFavMov">
  <img src="assets/img/NameThatMovie_logov8.png">
</div>

<header>
  <nav>
    <a href="" id="menu-icon"><img src="assets/img/mobile-menu-icon-white.png"></a>
    <ul>
      <li><a href="/#/signup">Sign Up</a></li>
      <li><a href="/#/login">Login</a></li>
    </ul>
  </nav>
</header>

<div class="game-div">
  <h1>Question 1</h1>

  <div class="questOne" ng-repeat="question in questions">
    {{ question.Kids0.Question }}
  </div>

  <div name="answers" class="questOneAnswers" ng-repeat="answer in questions ">
    <input type="button" name="wrong" class="form-control btn btn-primary" ng-click="wrong(wrong)" value="{{ answer.KidsAns0.A }}">
    <input type="button" class="form-control btn btn-primary" ng-click="wrong(wrong)" value="{{ answer.KidsAns0.B }}">
    <input type="button" class="form-control btn btn-primary" ng-click="correct(correct)" value="{{ answer.KidsAns0.C }}">
    <input type="button" class="form-control btn btn-primary" ng-click="wrong(wrong)" value="{{ answer.KidsAns0.D }}">
  </div>

</div>
